// Fonts
$text-font-family:  Georgia, Merriweather, Monospace, Georgia, serif;
$heading-font-family: Georgia, Helvetica,  sans-serif;
$code-font-family: 'Source Code Pro', 'Lucida Console', monospace;

// Colors
$bg-color: rgb(255, 255, 255) !default;
$fg-color: #212121 !default;
$alt-bg-color: rgb(207, 251, 240) !default;
$alt-fg-color: #000 !default;
$link-color: #1565c0 !default;

// Colors inverted
$bg-color-inverted: #212121 !default;
$fg-color-inverted: #ffffff !default;
$alt-bg-color-inverted: #424242 !default;
$alt-fg-color-inverted: #ffffff !default;
$link-color-inverted: #f44336 !default;
